<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Filer - Connexion</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
	<fieldset class="login">
		<legend>
			<h2 class="title">Connexion</h2>
		</legend>
		<form method="POST" action="?action=login">
			<input type="text" name="username" placeholder="Nom d'utilisateur">
			<br>
			<input type="password" name="password" placeholder="Mot de passe">
			<br>
			<input type="submit" value="Se connecter" class="last-input">
		</form>
	</fieldset>	
</body>
</html>