@font-face {
	font-family: 'Bebas';
	src: url('../fonts/Bebas.ttf');
}

body {
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

header {
	width: 1100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#logout-icon {
	height: 50px;
	width: auto;
}

.upload {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.white-frame {
	border: 1px solid white;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0px 40px 20px 20px; /* top right bottom left */
}

h3 {
	font-size: 20px;
	color: crimson;
	font-family: 'Bebas';

}

h2 {
	font-size: 32px;
	color: crimson;
	font-family: 'Bebas';
}

a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

p {
	color: white;
	font-family: Calibri;
}

input {
	font-size: 14px;
	border: 1px solid white;
	background-color: white;
	border-radius: 2px;
	padding: 3px;
}

input[type="submit"], input[type="file"], .file-actions img, .folder-actions img {
	cursor: pointer;
}

input[type="file"] {
	border: 1px solid white;
	color: black;
}

h1 {
	font-size: 20px;
	font-family: 'Bebas';
	color: white;
}

label, ul {
	font-family: Calibri;
	color: white;
	font-size: 18px;
}

li {
	display: flex;
	align-items: center;
}

input[value="Nouveau dossier"], input[value="Renommer"], input[value="Remplacer"],
input[value="Ajouter"], input[value="Modifier"], input[value="Créer"],
input[value="Déplacer"], input[value="Oui"] {
	background-color: black;
	border: 1px solid black;
	font-style: bold;
	color: white;
}

input[value="Nouveau dossier"] {
	text-transform: uppercase;
	width: 150px;
	height: 40px;
	font-weight: bold;
	border-radius: 3px;
}

input[value="Nouveau dossier"], input[value="Ajouter"], input[value="Renommer"], input[value="Remplacer"],
input[value="Modifier"], input[value="Créer"], input[value="Déplacer"],
input[value="Oui"] {
    padding: 7px;
}

input[value="Oui"] {
	height: 30px;
}

.upload input[type="text"], .list-files input[type="text"],
.create-folder input[type="text"], .list-folders input[type="text"] {
	height: 22px;
	padding-left: 8px;
}

.list-files, .list-folders {
	width: 1000px;
	display: flex;
	justify-content: space-between;
}

.list-files {
	align-items: center;
}

.file-actions {
	display: flex;
	width: 200px;
	justify-content: space-between;
}

.folder-actions {
	display: flex;
	width: 100px;
	justify-content: space-between;
}

.file-actions img, .folder-actions img {
	height: 25px;
    width: auto;
}

.container-delete-field form, .folder-delete-field form {
	display: flex;
	align-items: center;
}

.container-rename-field, .container-replace-field, .container-delete-field,
.container-modify-field, .container-move-field, .folder-rename-field,
.folder-delete-field, .folder-move-field {
	display: none;
	margin-left: auto;
	margin-right: 20px;
}

.container-modify-field form {
	display: flex;
	align-items: top;
}

.container-modify-field textarea {
	width: 500px;
}

.create-folder form {
	display: none;
	align-items: center;
	justify-content: center;
}

.show-folder {
	display: flex;
	flex-direction: column;
}

.show-folder img {
	height: 40px;
	width: 40px;
}

.folder {
	display: flex;
}