@font-face {
	font-family: 'Bebas';
	src: url('../fonts/Bebas.ttf');
}

body {
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Bebas';
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

fieldset {
	width: 350px;
	border: 1px solid white;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login {
	margin-top: 175px;
}

.register {
	margin-top: 150px;
}

h3 {
	color: white;
	font-size: 56px;
	margin-top: 200px;
	margin-bottom: 0;
}

h2 {
	font-size: 42px;
	color: crimson;
	margin-top: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

input[name="index"] {
	text-transform: uppercase;
	margin-top: 30px;
	font-style: bold;
	color: white;
}

input[type="text"], input[type="email"], input[type="password"] {
	background-color: white;
	color: black;
	border-radius: 2px;
	border: 1px solid white;
	height: 25px;
	width: 250px;
	padding-left: 7px;
	font-size: 16px;
}

input[type="submit"] {
	font-size: 18px;
	border-radius: 2px;
	font-style: bold;
	color: white;
	padding: 3px;
}

input[value="Connexion"] {
	background-color: crimson;
	border: 2px solid crimson;
}

input[value="Inscription"], input[value="S'inscrire"], input[value="Se connecter"] {
	background-color: black;
	border: 2px solid black;
}

input[type="email"], .register input[type="text"], .register input[type="password"],
.login input[type="text"], .login input[type="password"] {
	margin-top: 10px;
}

.register input:first-child, .login input:first-child {
	margin-top: 30px;
}

input[value="S'inscrire"], input[value="Se connecter"] {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.index-button {
	display: flex;
	width: 250px;
	justify-content: space-between;
}